<div class="mt-4">
    <h3>Đăng khóa học</h3>

    <form method="POST" action="/courses/store">
        <div class="form-group">

            <label for="name">Tiêu đề video</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">

            <label for="discription">Mô tả</label>
            <input type="text" class="form-control" id="discription" name="discription">
        </div>

        <div class="form-group">

            <label for="videoID">Video ID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>

        <div class="form-group">

            <label for="level">Thể loại</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
       
        <button type="submit" class="btn btn-primary">Thêm video</button>
</form>
</div>